<html>
    <head>
        <link rel='stylesheet' href='{{ site.url }}{{ site.baseurl }}/assets/styles.css'>
    </head>
<body>
    {% include header.html %}
    {{ content }}
    {% include footer.html %}
</body>
</html>